button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: $primary-color;
  border-radius: 3px;
  background-color: $primary-color;
  color: $white;
  // @include font-size(0.75);
  text-transform: uppercase;
  font-weight: $global-weight-bold;
  letter-spacing: $letter-spacing-wide;
  font-family: $montserrat;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: .85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 999px;
  transition: background-color .25s ease-out,color .25s ease-out;
  font-size: .9rem;
  line-height: 1;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: scale-color( $primary-color, $lightness: -15% );
    background-color: scale-color( $primary-color, $lightness: -15% );
  }

  &:active {
    border-color: $primary-color;
  }

  &.button--large {
    font-size: 1rem;
    padding: 1em 1.25em;
    @include breakpoint(medium) {
      font-size: 1.25rem;
    }
  }
}
