@import "buttons";

@import "fields";

div.wpcf7-response-output {
  margin: 0;
  margin-top: 1em;
  padding: .25em .5em;
  font-size: .65rem;
  font-weight: bold;
}

div.wpcf7-validation-errors {
  border-color: $primary-color
}

.wpcf7 .ajax-loader {
  display: none !important;
  visibility: hidden !important;
}

span.wpcf7-not-valid-tip {
  font-size: .65rem;
  color: $alert-color;
  margin-top: -.5rem;
  margin-bottom: .25rem;
  font-style: italic;
}