// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Clearfix
@mixin clearfix() {
  content: "";
  display: table;
  table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
  clear: both;
}

// Headings
@mixin headings( $from: 1, $to: 6 ) {
  @for $i from $from through $to {
    h#{$i} {
      @content;
    }
  }
}

// Add margin equal to column gutters
@mixin gutter-margin($i) {
  margin-#{$i}: double-gutter(medium);
}

// Background image settings for thumbnails

@mixin thumb-background() {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

// Create responsive rectangle using a specific aspect ration

@mixin responsive-shape( $width: 100%, $ratio: 100%, $content-padding: 0 ) {
  position: relative;
  width: $width;

  &:after {
    content: "";
    display: block;
    padding-bottom: $ratio;
  }

  &__content {
    position: absolute;
    padding: $content-padding;
  }
}

// Center absolute element

@mixin center-absolute() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}

// Scale block elements

@mixin global-scale( $multiple ) {
  transform: scale( $multiple );
}

/// Adds extra CSS to block grid children so the last items in the row center automatically. Apply this to the columns, not the row.
///
/// @param {Number} $n - Number of items that appear in each row.
@mixin grid-layout-center-last($n) {
  @for $i from 1 to $n {
    @if $i == 1 {
      &:nth-child(#{$n}n+1):last-child {
        margin-left: (100 - 100/$n * $i) / 2 * 1%;
      }
    }
    @else {
      &:nth-child(#{$n}n+1):nth-last-child(#{$i}) {
        margin-left: (100 - 100/$n * $i) / 2 * 1%;
      }
    }
  }
}

// After element for yellow line after titles

@mixin title-underline( $align: left, $width: 60px, $margintop: .5em, $marginbottom: .5em ) {

  @if $align == center {
    text-align: center;
  }

  &::after {
    @if $align == center {
      margin: 0 auto;
    }
    margin-top: $margintop;
    margin-bottom: $marginbottom;
    content: '';
    display: block;
    width: $width;
    height: 2px;
    background-color: $primary-color;
  }
}

// Assign white text to sections with a dark background
@mixin light-section-text() {
  .section-heading--stylized strong,
  p,
  address,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  i {
    color: $white;
  }
}

// Black semi-transparent overlay
@mixin box-overlay( $color: $dark-black, $opacity: 0.5 ) {
  position: relative;
  &::before {
    transition: $global-transition;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: '';
    background: rgba( $color, $opacity );
  }
}

//@mixin light-section-text( $selectors... ) {

  // Set up desired CSS properties
  //%lst__properties {
  //  color: $white;
  //}
  // Set up constant selectors
  //$lst__selectors: ( '.section-heading--stylized strong', 'p', 'address', 'li', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6' );

  // Build dynamic selector list
  //$lst__selector: ();

  // Add selectors from mixin declaration
  //@if $selectors {
  //  @each $item in $selectors {
  //    $lst__selector: $lst__selector '#{$item}';

      // Add comma after each selector
      //$lst__selector: $lst__selector unquote(',');
    //}
  //}

  //@each $item in $lst__selectors {
    //$lst__selector: $lst__selector '#{$item}';

    // Add comma if not dealing with the last item of list
    //@if $item != nth( $lst__selectors, length( $lst__selectors ) ) {
      //$lst__selector: $lst__selector unquote(',');
    //}
  //}

  //@each $item in $lst__selector {
    //$lst__selector: $lst__selector unquote(#{$item});
  //}

  //#{$lst__selector} {
    //@extend %lst__properties;
  //}

  //$lst__selector: null;
  //$lst__selectors: null;
  //$selectors: null;
//}
