/**
 * Main navigation overlay and menus
 */

.site__nav {

  &__overlay {
    position: fixed;
    left: 0;
    top: 0;
    color: $white;
    height: 100%;
    width: 100%;
    background: $black;
    z-index: $z-nav;
    padding-top: $topbar-height * 2;
    backface-visibility: hidden;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    transform: translateY(-100%);
    transition-property: transform;
    transition-duration: .4s;

    &.is-visible {
      transform: translateY(0);
    }

    .columns {

      &:first-child {
        border-right: 1px solid $dark-gray;
      }

      &:last-child {
        text-align: right;
      }
    }
  } // end &__overlay

  &__menu {
    margin-bottom: 3em;

    li {
      display: block;
      margin-bottom: 1.5em;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        padding: 0;
        color: $light-gray;
        transition: all .5s;

        &:hover {
          color: $white;
        }
      }
    }
  } // end &__menu

  // Main menu

  &__main-menu {

    li {
      text-transform: uppercase;
      letter-spacing: $letter-spacing-wide;
      font-family: $montserrat;
    }

    a {

      &:hover {
        letter-spacing: $letter-spacing-wide * 1.25;
      }
    }
  } // end &__main-menu

  // Contact block

  &__contact-block {
    font-weight: 400;

    &__phone {
      font-size: 1.25rem;
      margin-bottom: 0;
      font-weight: 800;
    }
  } // end &__contact-block

  &__location-block {

    address {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }

      h4 {
        font-weight: $global-weight-bold;
      }
    }
  } // end &__location-block

  // Newsletter sign-up form

  &__newsletter {

    h4 {
      font-size: .75rem;
      text-transform: uppercase;
      letter-spacing: $letter-spacing-wide;
      font-weight: normal;
      color: $light-gray;
    }

    &__form {

      input {
        width: 100%;
        border-radius: 999px;
        font-size: .75rem;
        height: initial;
        padding: .75rem;

        &[type="email"],
        &[type="text"] {
          margin-bottom: .75em;
          background: transparent;
          border: 2px solid rgba($medium-gray, .75);
          color: $light-gray;
          font-weight: 400;
        }

        &[type="submit"] {
          background: rgba($medium-gray, .25);
          border: 2px solid rgba($medium-gray, .75);
          color: $light-gray;
          letter-spacing: 2px;
          font-family: $montserrat;
          text-transform: uppercase;

          &:hover {
            background: $primary-color;
            border-color: $primary-color;
            color: $white;
          }
        }
      } // end input

      &__button {
        background: rgba($medium-gray, .25);
        border: 2px solid rgba($medium-gray, .75);
        color: $light-gray;
        letter-spacing: 2px;
        font-family: $montserrat;
        text-transform: uppercase;
        width: 100%;
      }

      p {
        margin-bottom: 0;
      }

      span.wpcf7-not-valid-tip {
        margin-left: .5rem;
      }

      .site__nav__newsletter__form p {
        margin-bottom: 0;
      }

      div.wpcf7-validation-errors {
        color: $primary-color;
      }

      &__reveal {

      } // end &__reveal
    } // end &__form
  } // end &__newsletter
}







/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
