@each $current_button_color_label, $current_button_color in $button-palette {

  .button.#{$current_button_color_label} {

  }
}

.button {
  text-transform: uppercase;
  font-weight: $global-weight-bold;
  letter-spacing: $letter-spacing-wide;
  font-family: $montserrat;

  &--large {
    font-size: .925rem;
    padding: 1em 1.25em;
    @include breakpoint(medium) {
      font-size: 1.125rem;
    }
    @include breakpoint(large) {
      font-size: 1.25rem;
    }
  }

  &.hollow {

    &:hover,
    &:focus {
      background-color: $primary-color;
      border-color: $primary-color;
      color: $white;
    }

    &.gray{

      &:hover,
      &:focus {
        border-color: $primary-color;
        color: $white;
      }
    }
  }
}

// Play button

.play-icon {
  padding: .5rem 1.5rem .25rem;
  margin: 0 auto;
  background-color: rgba( $black, .75 );
  display: inline-block;
  border-radius: 7px;
  @include center-absolute();
  transition: all .5s;

  &:hover,
  a:hover &,
  &:focus,
  a:focus & {
    background-color: $primary-color;
  }

  svg {
    width: 2em;
    height: 2em;
    outline: 0 !important;

    .fill {
      transition: fill 40ms;
      fill: $white;
    }
  }
}

// Social share buttons

.social-share {
  list-style: none;
  margin: 0;
  overflow: auto;

  li {
    float: left;

    a {

      i {
        background: transparent;
        color: $light-gray;
        width: rem-calc(40px);
        height: rem-calc(40px);
        border-radius: rem-calc(20px);
        border: 1px solid $light-gray;
        font-size: 1.25rem;
        text-align: center;
        margin-right: rem-calc(10px);
        padding-top: 20%;
        transition: all .5s;

        &.fa-pinterest {
          padding-top: 18%;
        }
      }

      &:hover i {
        border-color: $primary-color;
        background-color: $primary-color;
        color: $white;
      }
    }

    &:last-child a i {
      margin-right: none;
    }
  }
}
