/* body {
  background: $color__background-body;
} */

.no-margin {
  margin: 0 !important;
}

.background-pattern {
  background-color: $black;
}

blockquote, q {
  quotes: "" "";

  &:before,
  &:after {
    content: "";
  }
}

hr {
  border-color: $light-gray;
  height: 1px;
  margin-bottom: 1.5em;
}

.hr--faded {
  border: 0;
  background: $medium-gray;
  background: -webkit-gradient( linear, right top, left top, from(transparent), color-stop($medium-gray), to(transparent) );
  background: linear-gradient( to left, transparent, $medium-gray, transparent );
}

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

figure {
  margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

.content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

@import "lists";

@import "tables";

@import "buttons";

@import "tabs";

/**
 * Full-screen overlay
 */

.overlay {
  background-color: $dark-gray;
  background-color: rgba( $dark-gray, .9 );
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
}

code {
  border: 0;
}

/**
 * Masonry
 */

@import "masonry";

/**
 * Vimeo embed
 */

.vimeo-embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/**
 * Reveal
 */
.reveal {
  padding: double-gutter(medium)*2 double-gutter(medium)/2 double-gutter(medium);

  &__close-button {
    font-family: $montserrat;
    right: 0;
    top: 0;
    line-height: 1;
    font-size: 1rem;
    display: inline-block;
    color: $white;

    &:hover {
      color: $white;
    }

    &__x {
      font-family: 'icomoon';
      font-size: .9rem;
      display: inline-block;
    }
  }
}
