.grid {
  background: transparent;

  &-item {
    width: 100%;
    height: 200px;
    float: left;
    background: $black;
    overflow: hidden;
    padding: double-gutter(medium) / 2;
    position: relative;
    @include breakpoint(medium) {
      width: 25%;
      padding: 1rem;
    }
    @include breakpoint(large) {
      width: 16.667%;
      height: 250px;
      max-height: 250px;
    }
    @include breakpoint(xlarge) {
      height: 300px;
      max-height: 300px;
      padding: 2rem;
    }

    p {
      font-size: smaller;
      @include breakpoint(xxlarge) {
        font-size: .925rem;
      }
    }

    // Width variations

    &--width2 {
      @include breakpoint(medium) {
        width: 50%;
      }
      @include breakpoint(large) {
        width: 33.333%;
      }
    }

    &--width3 {
      @include breakpoint(medium) {
        width: 50%;
      }
    }

    // Height variations

    &--height2 {
      @include breakpoint(medium) {
        height: 400px;
        max-height: 400px;
      }
      @include breakpoint(large) {
        height: 500px;
        max-height: 500px;
      }
      @include breakpoint(xlarge) {
        height: 600px;
        max-height: 600px;
      }
    }

    // Content

    &__content {
      position: absolute;
      left: 0;
      top: 0;
      padding: double-gutter(medium) / 2;
      @include breakpoint(medium) {
        padding: 1rem;
      }
      @include breakpoint(xlarge) {
        padding: 2rem;
      }

      @include headings( 3, 4 ) {
        font-size: .825rem;
        font-weight: $global-weight-bold;
        text-transform: uppercase;
        color: $black;
        @include breakpoint(large) {
          font-size: .975rem;
        }
        @include breakpoint(xxlarge) {
          font-size: 1rem;
        }

        .grid-item--black &,
        .grid-item--image & {
          color: $white;
        }
      }

      &--position-icon {
        @include breakpoint(medium) {
          top: initial;
          bottom: -4px;
          left: 2rem;
          width: 70%;
        }
        @include breakpoint(xlarge) {
          left: 3rem;
          width: 50%;
        }

        .grid-item--width3 & {
          @include breakpoint(medium) {
            width: 60%;
          }
          @include breakpoint(large) {
            width: 30%;
          }
        }
      }

      p:last-of-type {
        margin-bottom: 0;
      }
    } // end __content

    // Icons

    &__icon {
      position: absolute;
      bottom: double-gutter(medium) / 2;
      left: double-gutter(medium) / 2;
      font-size: .75rem;
      line-height: 1em;
      text-transform: uppercase;
      text-align: center;
      @include breakpoint(medium) {
        bottom: 1rem;
        left: 1rem;
      }
      @include breakpoint(xlarge) {
        bottom: 2rem;
        left: 2rem;
      }

      &--social {

        &::after {
          font-family: 'fontawesome';
          font-size: 1.75rem;

          .grid-item--white &,
          .grid-item--light-gray &,
          .grid-item--extra-light-gray & {
            color: $black;
            opacity: .25;
          }

          .grid-item--black &,
          .grid-item--image &, {
            color: $white;
            opacity: .25;
          }
        }
      }

      &--facebook {

        &::after {
          content: '\f09a';
        }
      }

      &--tweet {

        &::after {
          content: '\f099';
        }
      }

      &--instagram {

        &::after {
          content: '\f16d';
        }
      }

      &--date {
        background-color: $dark-gray;
        display: block;
        width: rem-calc(40px);
        height: rem-calc(40px);
        border-radius: rem-calc(40px);

        .grid-item--white &,
        .grid-item--extra-light-gray & {
          background-color: $light-gray;
        }

        .grid-item--light-gray & {
          background-color: $medium-gray;
        }

        &__month {
          font-weight: bold;
          display: block;
        }

        &__day {
          display: block;
        }
      }

      &__content {
        position: absolute;
        font-family: $montserrat;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
      }
    } // end __icon

    // Background variations

    &--white {
      background-color: $white;

      p,
      li,
      a,
      span {
        color: $dark-gray;
      }
    }

    &--black {
      background-color: $black;

      p,
      li,
      a,
      span {
        color: $white;
      }

      @include headings() {
        color: $white;
      }
    }

    &--light-gray {
      background-color: $light-gray;

      p,
      li,
      a,
      span {
        color: $black;
      }
    }

    &--extra-light-gray {
      background-color: $extra-light-gray;

      p,
      li,
      a,
      span {
        color: $black;
      }
    }

    &--image {

      &::before {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        background: rgba( $black, 0.5 );
        content: '';
        left: 0;
        top: 0;
        z-index: 0;
      }

      p,
      li,
      a,
      span {
        color: $white;
      }
    }

    &--pattern {

    }

    // Hide grid items on medium and small screens
    &:nth-child(1n+5) {
      @include breakpoint(small only) {
        display: none;
        visibility: hidden;
      }
    }

    &:nth-child(1n+9) {
      @include breakpoint(medium only) {
        display: none;
        visibility: hidden;
      }
    }
  } // end -item
} // end .grid
