.tabs-title {

  & > a {
    display: block;
    font-size: 1rem;
    color: $dark-gray;

    &:hover,
    &:focus,
    &[aria-selected='true'] {
      background: lighten( $light-gray, 10% );
      color: $black;
      font-weight: $global-weight-bold;
    }
  }
}
