.site__footer {
  text-align: center;
  // font-size: rem-calc(12px);

  &__info {
    font-weight: 400;
    margin: 0;
    list-style: none;
    @include breakpoint(medium) {

      &__item {
        display: inline-block;
        white-space: nowrap;

        &:not(:last-child) {
          margin-right: .25em;

          &::after {
            content: '|';
            margin-left: .5em;
          }
        }
      }
    }
  }

  &__top {
    background: $black;
    // padding: .5em 0;
    text-transform: uppercase;
    @include breakpoint(small only) {
      padding: .5em 0;
    }
  }

  &__bottom {
    background: lighten( $black, 5% );
    padding: 1em 0;
    font-size: rem-calc(14px);
  }

  &__navigation {

    font-size: .875rem;

    li {
      display: block;
      letter-spacing: rem-calc(2px);
      font-family: $montserrat;
      @include breakpoint(medium) {
        display: inline-block;
      }

      a {
        padding: 1em;
        margin: 0 1em;
        position: relative;
        @include breakpoint(medium) {
          padding: 2em 1em;

          &::after {
            content: "";
            position: absolute;
            display: block;
            height: 4px;
            left: 1em;
            bottom: 0;
            background: $primary-color;
            transform: scaleX(0);
            transform-origin: 0 50%;
            transition-property: transform;
            transition-duration: .4s;
            transition-timing-function: ease-out;
          }

          &:hover::after {
            transform: scaleX(1);
            right: 1em;
          }
        }

        &:hover,
        &:focus {
          //background: $primary-color;
          //color: $black;
        }
      }
    }
  } // end __navigation

  &,
  p,
  li,
  a {
    color: rgba( $medium-gray, .8 );
  }

  // CTA section
  &__cta {

    &.section--black {
      border-bottom: 1px solid lighten( $black, 5% );
    }

    &--button,
    &--nobutton {
      text-align: center;
    }

    &__button {
      margin-top: 1em;
    }

    // Phone number block
    // Used in two-column layout on landing pages
    &__phone {
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 1rem;
      position: relative;
      display: inline-block;
      @include breakpoint(medium) {
        margin-bottom: 0;
      }

      &::before,
      &::after {
        display: table;
        content: ' ';
      }

      &__icon {
        float: left;
        display: block;

        &.icon {
          border: 1px solid $light-gray;
          padding: .5em;
          display: block;
          width: 2em;
          height: 2em;
          position: relative;
          font-size: 3rem;
          border-radius: 50%;
          margin-right: .5em;

          &::before {
            padding: .5em;
            position: absolute;
            left: 0;
            top: 0;
            line-height: 1;
            top: 50%;
            left: 50%;
            transform: translate( -50%, -50% );
          }
        }
      } // end __icon

      &__content {
        float: left;
        margin-top: .75rem;
      }

      &__location {

        &__name,
        &__number {
          font-size: 1.125rem;
          display: inline-block;
          margin-bottom: 0;
          @include breakpoint(medium) {
            font-size: 1.25rem;
          }
          @include breakpoint(large) {
            font-size: 1.5rem;
          }
        }
      }
    } // end __phone

    &__form {
      text-align: right;
    }
  } // end __cta
} // end .site__footer
