.site__header {
  padding: $topbar-padding 0;
  position: absolute;
  width: 100%;
  height: $topbar-height;
  z-index: $z-header;
  // background-color: $topbar-background;
  background: transparent;
  -webkit-transition: .5s;
  transition: .5s;

  @include breakpoint(medium) {
    background: transparent;
  }

  @include breakpoint(large) {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    // Force Hardware Acceleration in webkit
    transform: translate3d( 0, 0, 0 );
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }

  .no-hero & {
    background-color: $white;
  }

  &.is-fixed {
    // When the user scrolls down, we hide the header right above the viewport
    position: fixed;
    top: -$topbar-height;
    background-color: $white;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;

    .logged-in & {
      top: -$topbar-height + rem-calc(32px);
    }
  }

  &.is-visible {
    // If the user changes the scrolling direction, we show the header
    transform: translate3d( 0, 100%, 0 );
  }

  &.menu-is-open {
    background-color: $black;
  }

  .columns:last-child {
    text-align: right;
  }

  &__cta {
    margin-right: 1em;
    margin-bottom: 0;

    .menu-is-open & {
      visibility: hidden;
      display: none;
    }
  }

  /* &--transparent {
    background-color: transparent;

    .site-logo {
      background-image: url('../../assets/img/logo_ssi_white.svg');
    }

    &.active {
      background-color: $topbar-background;

      .site-logo {
        background-image: url('../../assets/img/logo_ssi_dark-gray.svg');

        &:hover {
          background-image: url('../../assets/img/logo_ssi_color.svg');
        }
      }
    }
  } */
} // end .site-header

/**
 * Site logo
 */

.site-logo {
  height: $logo_height;
  width: $logo_height * 4.477;
  background-image: url('../../assets/img/logo_ssi_white.png');
  background-image: url('../../assets/img/logo_ssi_white.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  float: left;
  position: relative;
  overflow: hidden;
  -webkit-transition: background $offcanvas-transition-length;
          transition: background $offcanvas-transition-length;

  .site__header.is-fixed &,
  .no-hero & {
    background-image: url('../../assets/img/logo_ssi_dark-gray.png');
    background-image: url('../../assets/img/logo_ssi_dark-gray.svg');
  }

  .site__header.is-fixed.menu-is-open &,
  .no-hero .site__header.menu-is-open & {
    background-image: url('../../assets/img/logo_ssi_white.png');
    background-image: url('../../assets/img/logo_ssi_white.svg');
  }

  &:hover {
    background-image: url('../../assets/img/logo_ssi_color.png') !important;
    background-image: url('../../assets/img/logo_ssi_color.svg') !important;
  }

  // Fix hover issue on Safari by forcing use of PNG images (Safari class added in app.js)
  &.safari {
    background-image: url('../../assets/img/logo_ssi_white.png');

    .site__header.is-fixed &,
    .no-hero & {
      background-image: url('../../assets/img/logo_ssi_dark-gray.png');
    }

    .site__header.is-fixed.menu-is-open &,
    .no-hero .site__header.menu-is-open & {
      background-image: url('../../assets/img/logo_ssi_white.png');
    }

    &:hover {
      background-image: url('../../assets/img/logo_ssi_color.png') !important;
    }
  } // End safari fix
}

/**
 * Hamburger icon
 */

.hamburger-icon {
  width: $hamburger_width;
  height: $hamburger_height;
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  float: right;
  margin-top: $hamburger_height / 2;

  // Hamburger lines
  span {
    display: block;
    position: absolute;
    height: $hamburger_line_height;
    width: 100%;
    background: $white;
    border-radius: 0;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

    .site__header.is-fixed &,
    .no-hero & {
      background: $dark-gray;
    }

    // Loop through each line to add top value
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        top: $i * $hamburger_line_margin - $hamburger_line_margin;
      }
    }
  }

  // Hamburger lines when activated
  &.open span,
  .site__header.is-fixed &.open span {
    background: $primary-color;

    .site__header--transparent.active & {
      background: $primary-color;
    }

    &:nth-child(1) {
      top: $hamburger_line_margin;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
    }

    &:nth-child(2) {
      opacity: 0;
      left: -60px;
    }

    &:nth-child(3) {
      top: $hamburger_line_margin;
      -webkit-transform: rotate(-135deg);
              transform: rotate(-135deg);
    }
  }
}

/**
 * Page header
 */

.page-header {
  padding-top: $topbar-height;
  position: relative;
  overflow: hidden;
  @include thumb-background();

  /** Header Variants **/

  // Hero Headers
  &--hero {
    text-align: center;
    height: 100vh;
    @include breakpoint(medium) {
      height: 80vh;
    }
    background-color: $black;
    min-height: rem-calc( 400px );

    p {
      font-weight: 400;
    }

    &__content {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 100%;
    }

    .section-heading--stylized {
      font-size: 1.125rem;
      letter-spacing: initial;
      text-transform: uppercase;
      line-height: 1.125em;
      @include breakpoint(medium) {
        font-size: 1.325rem;
      }
      @include breakpoint(large) {
        font-size: 1.625rem;
      }
      @include title-underline(center);

      strong {
        font-size: 2em;
        height: auto;
      }
    }

    &,
    h1,
    strong,
    p,
    li,
    span {
      color: $white;
    }

    .a {
      color: $primary-color;
    }

    p:last-child {
      margin-bottom: 0;
    }
  } // end &--hero

  // Simple header layout
  &--simple {
    padding: $topbar-bottom-margin 0 2rem;
  } // end &--simple

  // Project page headers
  &--project {

    &__thumb {
      @include thumb-background();
      @include responsive-shape( 100%, $video-thumbnail-aspect-ratio );
    }

    &--no-padding {
      padding: 0;
    }
  } // end &--project

  // Team member page headers
  &--team {
    background-position: left top;
    min-height: rem-calc( 400px );
    @include breakpoint(medium) {
      background-position: center top;
      min-height: rem-calc( 600px );
    }
    @include breakpoint(large) {
      height: 86vh;
      min-height: rem-calc( 740px );
    }
    padding-bottom: $topbar-height;

    &__content {
      text-align: left;
    }

    &__name {
      font-weight: $global-weight-bold;
      line-height: 1;
      margin-bottom: .5em;

      &__first {
        display: block;
        font-size: smaller;
        color: $light-gray !important;
      }
    }

    @include breakpoint(medium) {

      & > .row {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
      }
    }
  } // end &--team

  /** Header Elements **/

  &__overlay {
    position: absolute;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from( rgba( 0, 0, 0, 0.79 ) ),
      color-stop( 50%, rgba( 0, 0, 0, 0.5 ) ),
      color-stop( 51%, rgba( 0, 0, 0, 0.49 ) ),
      to( rgba( 0, 0, 0, 0.21 ) )
    );
    background: linear-gradient(
      to bottom,
      rgba( 0, 0, 0, 0.79 ) 0%,
      rgba( 0, 0, 0, 0.5 ) 50%,
      rgba( 0, 0, 0, 0.49 ) 51%,
      rgba( 0, 0, 0, 0.21 ) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9000000', endColorstr='#36000000', GradientType=0 );
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } // end &__overlay

  &__posted-on {
    text-align: center;
    font-size: smaller;
    font-weight: $global-weight-bold;
    color: $white;

    a {
      color: $white;

      &:hover {
        color: $primary-color;
      }
    }
  }

  &__bg {

    &--video {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      background-size: cover;
      -webkit-transition: 1s opacity;
              transition: 1s opacity;
    } // end &--video
  } // end &__bg

  &__play-button {
    color: $white;
    font-size: 4rem;
    opacity: .75;
    transition: $global-transition;

    a:hover &,
    a:focus & {
      opacity: 1;
    }

    &__link {
      display: inline-block;
    }
  } // end &__play-button
} // end .page-header

/**
 * Search field
 */

.search-toggle__item--field input {
  width: 200px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid $dark-gray;
  padding-bottom: 3px;
  font-family: $montserrat;
  color: $white;

  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $dark-gray;
  }

  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color: $dark-gray;
     opacity: 1;
  }

  &::-moz-placeholder { /* Mozilla Firefox 19+ */
     color: $dark-gray;
     opacity: 1;
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
     color: $dark-gray;
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
     color: $dark-gray;
  }
}

.search-toggle__item--field input:focus {
  outline: none;
}

.search-toggle__item--field {
  display: none;
}

.search-toggle {
  float: right;
  display: none;
  visibility: hidden;
  margin-bottom: 0;
  margin-top: rem-calc(3px);
  margin-right: rem-calc(10px);
  -webkit-transition: all .5s;
          transition: all .5s;
}

.menu-is-open .search-toggle {
  display: inline-block;
  visibility: visible;
}

.search-toggle__item {
  float: left;
  list-style: none;
  margin-bottom: 0;
}

.search-toggle__item a {
  font-size: 1rem;
  color: #000;
}

.search-toggle__item--field {
  margin-left: .5rem;
}

.icon-search::before {
  content: "\e900";
  font-size: 1.2rem;
  font-family: "icomoon";
  font-style: normal;
  color: $light-gray;
  -webkit-transition: all .5s;
          transition: all .5s;

  .search-open & {
    color: $primary-color;
  }
}
