/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer";

/*--------------------------------------------------------------
## Sections
--------------------------------------------------------------*/
@import "sections";

.site__content {
  z-index: $z-content;

  &--no-header {
    padding-top: $topbar-height;
  }
}

.layout {

  &--column-blocks {

    &__heading {
      text-align: center;
      line-height: 1;
      @include title_underline(center);
    }

    &__image {

      &__container {
        position: relative;
      }

      &__play-icon {
        @include center-absolute();
        color: #fff;
        opacity: .75;
        font-size: 4.5rem;
        z-index: 1;
      }

      &__caption {
        margin-top: .5em;
        text-align: center;
        font-weight: $global-weight-bold;
      }
    }
  }

  &--one-col {
    @include thumb-background();
  }
} // end .layout
