// Home page styles
.home {

  &__recent-work {

    .project-list__item {
      border: 0;
    }

    @include breakpoint(small only) {
      border-bottom: 1px solid $dark-gray;
      padding-bottom: 30px;
    }

    // Adjust bottom margin on project grid under Recent Work
    .row:not(:first-child) {

      // Remove margin on final three items on medium and large screens
      .project-list__item {
        @include breakpoint(medium) {
          margin-bottom: 0;
        }

        // Make play button smaller on medium and large screens
        &__play-icon {
          @include breakpoint(medium) {
            font-size: 1.5rem;
          }
          @include breakpoint(large) {
            font-size: 1.825rem;
          }
        }
      }

      // Remove margin on final item on small screens
      .column:last-child .project-list__item {
        @include breakpoint(small only) {
          margin-bottom: 0;
        }
      }
    }
  } // end &__recent-work
} // end .home

.behind-the-scenes {
  background-color: $black;
}

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.single-blog {
  background: $extra-light-gray;

  &__post {
    background: $white;
    margin-bottom: 2rem;

    &__content {
      background-color: $white;
      padding: 2rem;
    }

    &__title {
      font-family: $opensans;
      @include title-underline( center );
      @include breakpoint( medium ) {
        font-size: 1.25rem;
      }
    }

    &__posted-on {
      text-align: center;
      font-size: smaller;
      font-weight: $global-weight-bold;
      color: $medium-gray;

      a {
        color: $medium-gray;

        &:hover {
          color: $primary-color;
        }
      }
    }

    &__thumb {

      img {
        width: 100%;
      }
    }
  } // end __post

  .entry-content {
    margin-bottom: 2rem;
    @include title-underline();
  }

  &__post-nav {

    &__block {
      background-color: $white;
      padding: 2rem;

      .column:first-child & {
        @include breakpoint(small only) {
          margin-bottom: 2rem;
        }
      }
    }

    &__link {
      font-family: $montserrat;
      text-transform: uppercase;
      font-weight: $global-weight-bold;
      font-size: .75rem;
      letter-spacing: $letter-spacing-wide;
    }

    &__post-title {
      font-family: $opensans;
      font-size: 1.25rem;
      color: $black;
      @include title-underline();
    }

    &__post-content {
      color: $black;
      margin-bottom: 0;
    }
  }
} // end .single-blog

.tags-links {

  a {
    font-size: smaller;
    text-transform: uppercase;
    font-weight: $global-weight-bold;
    font-family: $montserrat;
  }
}

.comment {

  &-metadata {
    font-weight: $global-weight-bold;
    @include breakpoint( medium ) {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &-meta {
    position: relative;
    margin-bottom: .25rem;
    font-size: smaller;
  }

  &-body {
    padding: 1rem;
    border: 1px solid $light-gray;
    margin-bottom: 1rem;

    .bypostauthor & {
      background-color: rgba( $light-gray, .2 );
    }
  }

  .reply {
    line-height: 1;
  }

  &-reply-link {
    font-size: smaller;
    text-transform: uppercase;
    font-weight: $global-weight-bold;
  }

  .edit-link {
    text-transform: uppercase;
  }

  &-author {

    img {
      border-radius: 50px;
    }
  }
}

.comments-area {
  padding: 2rem;
  background-color: $white;
}

.comments-title {
  @include breakpoint(medium) {
    font-size: 1.25rem;
  }
  font-family: $opensans;
  @include title-underline( center );

  span {
    font-style: italic;
  }
}

/**
 * Single Projects
 */

.single-project {

  &__title {
    @include breakpoint(medium) {
      font-size: 2.5rem;
    }
    @include title-underline();
    line-height: 1.25;
  }

  &__content-area {
  }

  // Widget styles

  &__sidebar__widget {
    margin-bottom: rem-calc(30px);

    &:last-child {
      margin-bottom: 0;
    }

    h4 {
      letter-spacing: $letter-spacing-wide;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: $global-weight-normal;
    }

    a {
      font-weight: bold;
    }

    // Team widget

    &--team {
      margin-bottom: rem-calc( 20px );

      ul {
        list-style: none;
        margin: 0;
        overflow: auto;

        li {
          float: left;
          border-radius: rem-calc( 20px );
          overflow: hidden;
          margin-right: rem-calc( 10px );
          margin-bottom: rem-calc( 10px );
          display: inline-block;
          width: rem-calc( 40px );
          height: rem-calc( 40px );
          overflow: hidden;

          img {
          }
        }
      }
    } // end &--team
  } // end &__sidebar__widget

  // Related projects block

  &__related {
    border-top: 1px solid $light-gray;

    h2 {
      margin-bottom: 1em;
      text-align: center;
      @include title-underline(center);
    }

    .project-list__item {
      margin-bottom: 0;
    }
  }

  // Testimonials

  &__testimonials {

    &--light-text {
      @include light-section-text();
    }

    &__icon {
      text-align: center;
    }

    p {
      font-weight: 400;
    }

    &__item {
      background-image: url('../../assets/img/quote--black.png');
      background-image: url('../../assets/img/quote--black.svg');
      background-size: 49px 38px;
      background-repeat: no-repeat;
      background-position: bottom right;

      .single-project__testimonials--light-text & {
        background-image: url('../../assets/img/quote--white.png');
        background-image: url('../../assets/img/quote--white.svg');
      }

      &__company {
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: $letter-spacing-wide;
        font-size: .75rem;
        display: inline-block;
        margin-bottom: 1em;
        @include breakpoint(medium) {
          &::before {
            content: '';
            width: 49px;
            display: inline-block;
            overflow: hidden;
            height: 38px;
            background-image: url('../../assets/img/quote--black.png');
            background-image: url('../../assets/img/quote--black.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: top left;
            margin-right: 12px;
            transform: rotate(180deg);

            .single-project__testimonials--light-text & {
              background-image: url('../../assets/img/quote--white.png');
              background-image: url('../../assets/img/quote--white.svg');
            }
          }
        }
      } // end &__company

      &__name {
        font-family: $montserrat;
        font-weight: $global-weight-bold;
        text-transform: uppercase;
        letter-spacing: $letter-spacing-wide;
        font-size: 1.5rem;
        display: block;
        padding-right: 60px;
      } // end &__name

      &__title {
        font-family: $montserrat;
        display: block;
        padding-right: 60px;
      }
    } // end &__item
  } // end &__testimonials
} // end .single-project

/**
 * Contact page
 */

.contact-page {

  &__header {
  }

  &__locations {

    &__tabs {
      height: 100%;
      width: 100%;
      border: 0;

      &__item {
        transition: $global-transition;
        @include thumb-background();
        @include box-overlay( $dark-black, 0.75 );
        &::before {
          transition: $global-transition;
        }
        &.is-active::before,
        &:hover::before {
          background: rgba( $black, 0.425 );
        }

        &:hover {
          box-shadow: 0 0 12px rgba( $dark-black, 0.5 );
        }

        address {
          display: block;
          color: $white;
          text-shadow: 0 0 6px $dark-black;

          h4 {
            text-transform: lowercase;
            font-size: 1.25rem;
            letter-spacing: $letter-spacing-narrow;
            @include breakpoint(medium) {
              font-size: 1.75rem;
            }
            font-family: $montserrat;
            font-weight: $global-weight-bold;
            @include title-underline( left, 50px, .25em );
          }

          span {
            display: inline-block;
            margin-bottom: .375em;
            font-weight: normal;
          }
        }
      }

      &__link {
        background: none !important;
        position: relative;
        padding: 1rem .625rem !important;
        @include breakpoint(medium) {
          padding: 2.5rem 2rem !important;
        }
        @include breakpoint(large) {
          padding: 4.5rem 3.5rem !important;
        }
      }

      &__content {
        width: 100%;
        border: 0;
      }

      &__panel {
        height: 100%;
        width: 100%;
        padding: 0;
      }
    }
  } // locations

  &__block-links {

    &__block {
      text-align: center;
      position: relative;
      padding: 6rem 0;
      @include breakpoint(medium) {
        padding: 8.5rem 0rem;
      }
      @include breakpoint(large) {
        padding: 10rem 0rem;
      }

      &__link {
        position: relative;
        display: block;
        background-color: $black;
        background-size: cover;
        background-position: center;
        @include box-overlay();
        &:hover {
          &::before {
            background: rgba( $dark-black, 0.425 )
          }
        }
      }

      .columns:first-child & {
        @include breakpoint(small only) {
          margin-bottom: double-gutter(small) / 2;
        }
      }

      &__content {
        letter-spacing: $letter-spacing-narrow;
        color: $white;
        line-height: 1;
        font-weight: $global-weight-bold;
        text-transform: lowercase;
        font-family: $montserrat;
        font-size: 1.25rem;
        @include breakpoint(medium) {
          font-size: 1.75rem;
        }
        @include title-underline( center, 50px, .25em );
      }
    }
  } // block-links

  &__form-section {

    h1 {
      font-family: $montserrat;
      text-transform: lowercase;
      line-height: .925;
      letter-spacing: $letter-spacing-narrow;
      color: $medium-gray;
      @include title-underline( left, 60px, .25em );

      span {
        color: $black;
        display: block;
        font-size: 145%;
      }
    }
  } // form-section

  &__map {
    width: 100%;
    height: 100%;
  }
}

/**
 * Blog
 */

.blog {

  // Category navigation bar
  &__categories-list {
    background-color: lighten( $light-gray, 10% );
    text-transform: uppercase;
    font-weight: $global-weight-bold;
    font-family: $montserrat;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;

    ul {
      list-style: none;
      margin: 0;
      text-align: center;

      li {
        display: inline-block;
        margin-right: .5rem;
        font-size: smaller;

        &:last-child {
          margin-right: 0;
        }

        &.current-menu-item a,
        &.current-cat a,
        .blog &.cat-item-all a {
          background-color: $primary-color;
          color: $white;

          &:hover {
            border-color: $primary-color;
          }
        }

        .blog &.cat-item-all a:hover {
          color: $black;
          background-color: transparent;
        }

        a {
          color: $medium-gray;
          padding: .5rem 1rem;
          border: 1px solid transparent;
          border-radius: 999px;

          &:hover,
          &:focus {
            border-color: transparent;
            background-color: transparent;
            color: $black;
          }
        }
      }
    }
  }

  // Posts on blog page
  &__posts-list {
    background: rgba( $light-gray, .2 );
  }

  &__post {
    margin-bottom: double-gutter(medium);

    .blog &,
    .category &,
    .tag & {
      transition: $global-transition;
      border: 1px solid $light-gray;

      &:hover {
        @include global-scale( 1.05 );
      }
    }

    &__thumb {
      @include thumb-background();
      @include responsive-shape( 100%, $video-thumbnail-aspect-ratio )
    }

    &__info {
      background-color: white;
      padding: $global-padding * 2;
    }

    &__title {
      font-family: $opensans;
      @include breakpoint(medium) {
        font-size: 1.25rem;
      }

      a {
        color: $black;
      }

      @include title-underline();
    }

    &__posted-on {
      font-size: smaller;
      font-weight: $global-weight-bold;
      color: $medium-gray;

      a {
        color: $medium-gray;

        &:hover {
          color: $primary-color;
        }
      }
    }

    // Featured posts
    &--featured {

      &__posted-on {
        text-align: center;
      }

      &__column {
        width: 100%!important;
      }

      &__info {
      }

      &__title {
        text-align: center;
        @include breakpoint(medium) {
          font-size: 1.9375rem;
        }

        &:after {
          margin: 0 auto;
          margin-top: 4px;
        }
      }
    }
  }

  &__more-posts {
    display: block;
    margin: 0 auto;
    border-width: 1px;
    border-style: solid;

    &--no-more-posts {
      background: transparent;
      color: $light-gray;
      border-color: $light-gray;

      &:hover,
      &:focus {
        background: transparent;
        color: $light-gray;
        border-color: $light-gray;
      }
    }
  }
} // end .blog

// Careers page

.careers {
  background-color: rgba( $light-gray, .125 );

  &__heading {
    text-align: center;
    font-weight: $global-weight-bold;
  }

  // Single career in list
  &__single-career {
    border-bottom: 1px solid $medium-gray;
    padding-bottom: $global-padding * 2;
    margin-bottom: $global-padding * 1.5;

    &__location {
      font-size: rem-calc( 20px );
      color: $medium-gray;

      @include breakpoint(medium) {
        font-size: rem-calc( 24px );
      }
    }

    &__label {
      text-transform: uppercase;
      font-weight: $global-weight-bold;
      font-size: rem-calc( 22px );
      line-height: 1;

      @include breakpoint(medium) {
        font-size: rem-calc( 28px );
      }
    }

    &__header {
      position: relative;
      margin-bottom: rem-calc( 14px );

      @include breakpoint(medium) {
        margin-bottom: rem-calc( 20px );
      }
    }

    &__button {
      display: inline-block;
      margin: 0;
      background-color: transparent;
      border: 1px solid $medium-gray;
      border-radius: 0;
      color: $black;
      font-family: $montserrat;
      font-weight: $global-weight-bold;
      text-transform: uppercase;
      @include breakpoint(large) {
        position: absolute;
        right: 0;
        bottom: 0;
      }

      &:hover,
      &:focus {
        background-color: $black;
        border-color: $black;
        color: $white;
      }
    }

    &__read-more-link {
      font-weight: $global-weight-bold;
      text-transform: uppercase;
      line-height: 1;
      display: inline-block;
      margin-top: rem-calc( 4px );

      @include breakpoint(medium) {
        margin-top: rem-calc( 8px );
      }
    }
  }
}

// Style Guide
.style-guide {

  &__top-nav {
    background-color: lighten( $light-gray, 10% );
    text-transform: uppercase;
    font-weight: $global-weight-bold;
    font-family: $montserrat;
    // border-top: 1px solid $light-gray;
    // border-bottom: 1px solid $light-gray;

    &__list {
      list-style: none;
      margin: 0;
      text-align: center;
      border: 0;
      background: none;

      &__item {
        display: inline-block;
        margin-right: .5rem;
        font-size: smaller;
        float: none;

        &:last-child {
          margin-right: 0;
        }

        &.is-active a {
          background-color: $primary-color;
          color: $white;

          &:hover,
          &:focus {
            border-color: $primary-color;
            background-color: $primary-color;
            color: $white;
          }
        }
      }

      &__link {
        color: $medium-gray;
        padding: .5rem 1rem;
        border: 1px solid transparent;
        border-radius: 999px;

        .tabs-title > & {
          color: $medium-gray;
          display: inline;
          padding: .5rem 1rem;
          font-size: inherit;
          line-height: inherit;

          &:hover,
          &:focus {
            color: $medium-gray;
            background-color: transparent;
          }
        }

        &:hover,
        &:focus {
          border-color: $medium-gray;
        }
      }
    }
  }

  &__content-section {

    .tabs-content {
      border: 0;
      background: transparent;
    }

    .tabs-panel {
      padding: 0;

      &.columns {
        padding-left: .9375rem;
        padding-right: .9375rem;
      }
    }

    // Styles unique for the Ecos tab
    &--ecos {

      .style-guide {

        &__content {

          &__title {

            &::after {
              background-color: $ecos-green;
            }
          }

          h1,
          h2,
          h3,
          h4,
          h5,
          h6 {
            font-family: $opensans;
            letter-spacing: normal;
            text-transform: none;
            font-weight: 800;
            color: $ecos-dark-gray;
          }

          h4 {
            font-style: italic;
            color: $ecos-green;

            &.style-guide__content__color__name {
              color: $ecos-dark-gray;
            }
          }

          p,
          li {
            color: $ecos-dark-gray;
          }

          a,
          a:link,
          a:visited,
          a:active {
            color: $ecos-green;
          }

          .button,
          .button:link,
          .button:visited,
          .button:active {
            background-color: $ecos-green;
            border-color: $ecos-green;
            color: $white;
            font-family: $opensans;
            letter-spacing: normal;

            &.hollow {
              background-color: transparent;
              color: $ecos-green;
            }
          }

          .button:hover,
          .button:focus {
            background-color: $ecos-blue;
            border-color: $ecos-blue;
            color: $white;

            &.hollow {
              background-color: $ecos-blue;
              color: $white;
            }
          }
        }
      }

    }

  }

  &__side-nav {
    margin-bottom: 2rem;
    border: 1px solid $light-gray;
    @include breakpoint(medium) {
      border: 0;
    }

    &__list {

      &.tabs {
        border: 0;
        background: transparent;
      }

      &__item {

      }

      &__link {

      }
    }
  }

  &__content {

    h2 {
      font-weight: $global-weight-bold;
    }

    h3 {
      font-size: 1.125rem;
      font-weight: $global-weight-bold;
      @include breakpoint(medium) {
        font-size: 1.175rem;
      }
      @include breakpoint(large) {
        font-size: 1.325rem;
      }
    }

    h4 {
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: $letter-spacing-wide;
      font-weight: normal;
      @include breakpoint(medium) {
        font-size: 1.125rem;
      }
    }

    .wp-caption-text {
      border-top: 1px solid $light-gray;
      font-size: .825rem;
      font-style: italic;
      text-align: left;
    }

    &__title {
      font-size: 1.125rem;
      font-weight: $global-weight-bold;
      line-height: 1.125em;
      letter-spacing: initial;
      text-transform: uppercase;
      @include breakpoint(medium) {
        font-size: 1.25rem;
      }
      @include breakpoint(large) {
        font-size: 1.5rem;
      }
      @include title-underline();
    }

    &__subtitle {
      margin-bottom: 1.75rem;
      @include breakpoint(medium) {
        font-size: larger;
      }
    }

    &__block {
      margin-bottom: 1rem;

      &--general-two-column {

      }

      &--general-one-column {

      }

      &--icons {

      }

      &--color-block {

      }
    }

    &__icon {
      width: 100%;
      padding: 1rem;

      &__label {
        font-size: .825rem;
        font-style: italic;
        text-align: center;
      }
    }

    &__color {
      margin-bottom: .5rem;
      @include responsive-shape( 100%, 100%, 1em );

      &__name {
        font-size: .625rem !important;
        @include breakpoint(medium) {
          font-size: .75rem !important;
        }
      }

      &--ssi-black &__name,
      &--ecos-dark-gray &__name,
      &--ecos-blue &__name {
        color: $white !important;
      }

      &__list {
        list-style: none;
        margin: 0;
        margin-bottom: 1rem;

        &__item {
          font-weight: $global-weight-bold;
          font-size: .75rem;
          text-transform: uppercase;
          line-height: 1.5;
          @include breakpoint(medium) {
            font-size: .675rem;
          }
          @include breakpoint(xlarge) {
            font-size: .825rem;
          }
        }
      }
    }
  }
}

// Landing page

.page-template-page-landing-page {

  .row {
    max-width: 71em;
  }

  .site__content {

    &--no-header {
      padding: 0;
      position: relative;
      @include breakpoint(medium) {
        padding: 2rem 2rem 0;
      }
    }
  }
}

.landing-page {

  &__header {

    &__flag {
      position: absolute;
      top: 1rem;
      left: 0;
      padding: .5rem;
      padding-left: 2rem;
      background-color: $black;
      @include breakpoint(medium) {
        top: 4rem;
      }

      .site-logo {
        @include breakpoint(small only) {
          width: 100px;
          height: 23px;
        }
        background-image: url('../../assets/img/logo_ssi_white.svg');
      }
    } // end __flag

    .columns {
      @include breakpoint(medium) {
        top: 10rem;
        position: relative;
      }
    }
  } // end __header


  &__title {
    margin-top: 5rem;
    color: $white;
    line-height: 1.125;
    @include breakpoint(medium) {
      margin-top: 0;
    }
    @include breakpoint(large) {
      padding-right: 8rem;

      &__last-word {
        display: block;
        font-size: 150%;
      }
    }
  }

  &__form {
    background-color: #f5f5f5;
    padding-top: double-gutter(medium) / 2;
    padding-bottom: double-gutter(medium) / 2;

    form {
      text-align: right;

      p:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

/* What We Do page */

.service-tags {
  font-size: .75em;
  text-transform: uppercase;
  color: $medium-gray;
  line-height: 1.65;
  display: block;

  strong,
  b {
    color: $primary-color;
    white-space: nowrap;
  }
}

/* Single Service pages */

.single-service {

  .hentry {
    margin-bottom: 0;
  }

  .service-button {
    border-top: 1px solid $light-gray;
  }
}

/* Search Results page */

.search__sidebar {
  background: #fff;
  padding: 1.25rem;
  margin-bottom: 1rem;
  @include breakpoint(medium) {
    right: -99999px;
    left: 0;
    top: 0;
    position: absolute;
    padding-right: 99999px;
    margin-right: .9375rem;
  }
}

.search-page-title {
  font-size: 1.5rem;
  font-weight: normal;

  .search-term {
    font-style: italic;
    font-weight: bold;
  }
}
