/* Border helper classes*/

.border {

  &--black {
    border-color: $black !important;
  }

  &--dark-black {
    border-color: $dark-black !important;
  }

  &--dark-gray {
    border-color: $dark-gray !important;
  }

  &--medium-gray {
    border-color: $medium-gray !important;
  }

  &--light-gray {
    border-color: $light-gray !important;
  }

  &--white {
    border-color: $white !important;
  }
}

/* Section helper classes*/

.section {

  &--padded {
    padding: $global-padding * 2 0;
    @include breakpoint(medium) {
      padding: $global-padding * 2.5 0;
    }
    @include breakpoint(large) {
      padding: $global-padding * 2.75 0;
    }
  }

  &--padded--extra {
    padding: $global-padding * 3.5 0;
    @include breakpoint(medium) {
      padding: $global-padding * 4 0;
    }
    @include breakpoint(large) {
      padding: $global-padding * 4.5 0;
    }
  }

  &--padded--super {
    padding: $global-padding * 3.5 0;
    @include breakpoint(medium) {
      padding: $global-padding * 5 0;
    }
    @include breakpoint(large) {
      padding: $global-padding * 8 0;
    }
  }

  &--padded--max {
    padding: $global-padding * 3.5 0;
    @include breakpoint(medium) {
      padding: $global-padding * 6.5 0;
    }
    @include breakpoint(large) {
      padding: $global-padding * 14 0;
    }
  }

  &--padded--less {
    padding: $global-padding * 1;
    @include breakpoint(medium) {
      padding: $global-padding * 1.25;
    }
    @include breakpoint(large) {
      padding: $global-padding * 1.5;
    }
  }

  &--white {
    background-color: $white;
  }

  &--extra-light-gray {
    background-color: lighten( $light-gray, 10% );
  }

  &--light-gray {
    background-color: $light-gray;
  }

  &--medium-gray {
    background-color: $medium-gray;
  }

  &--dark-gray {
    background-color: $dark-gray;
    @include light-section-text();
  }

  &--black {
    background-color: $black;
    @include light-section-text();
  }

  &--dark-black {
    background-color: $dark-black;
    /* @include light-section-text();*/
  }

  &--gray-border {
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    + .section--gray-border {
      border-top: 0;
    }
  }

} /* end .section*/

/* Service Icon Block*/

.service-icons {

  &__heading {
    text-align: center;
    @include title-underline(center);
  }

  &__box {
    padding: $global-padding / 2 $global-padding;
    @include breakpoint(medium) {
      padding: $global-padding $global-padding * 2;
    }
    @include breakpoint(large) {
      padding: $global-padding * 2 $global-padding * 3;
    }
  }

  &__icon {
    font-family: 'icomoon';
    font-size: 3rem;
    background-size: contain;
    background-position: center;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    transition: .5s all;

    $services: animation design development search strategy video ecos;

    @each $service in $services {
      &--#{$service} {
        background-image: url('../../assets/img/icon_#{$service}.png');
        background-image: url('../../assets/img/icon_#{$service}.svg');

        &.safari {
          background-image: url('../../assets/img/icon_#{$service}.png');
        }

        // Preload images to prevent lagging on hover
        &::after {
          position: absolute;
          width: 0;
          height: 0;
          overflow: hidden;
          z-index: -1;
          content: url('../../assets/img/icon_#{$service}_hover.gif');
        }

        &:hover {
          background-image: url('../../assets/img/icon_#{$service}_hover.gif');
        }
      }
    }
  }

  &__link {
    color: $black;

    &:hover,
    &:focus {
      color: $black;
    }
  }

  &__column {
    @include breakpoint(medium only) {
      @include grid-layout-center-last(2);
    }
    @include breakpoint(large) {
      @include grid-layout-center-last(4);
    }
  }
} // .service-icons

/* Project Thumb Block*/

.project-thumb {
  // background: blue;
  margin-bottom: double-gutter(medium);
  @include responsive-shape( 100%, $video-thumbnail-aspect-ratio );
}

/* Project Grid */

.project-grid {
  padding: 2rem 0;
  border-top: 1px solid $light-gray;
  background: $light-gray;
  background: -webkit-gradient( linear, left top, left bottom, from(white), to(rgba( $light-gray, .5 )) );
  background: linear-gradient( white, rgba( $light-gray, .5 ) );
}

.featured-project {

  // Comment the following line out if the project nav is enabled
  margin-bottom: double-gutter(medium);

  &__description {
    background-color: lighten( $light-gray, 8% );
    padding: 1.5rem;
    color: $black;
    -webkit-transition: all .5s;
    transition: all .5s;
    position: relative;
    background-blend-mode: multiply;
    @include thumb-background();

    &--web {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;

      a:hover &,
      a:focus & {
        opacity: 1;
      }
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: lighten( $light-gray, 8% );
      left: 0;
      top: 0;
      position: absolute;
      -webkit-transition: all .5s;
      transition: all .5s;

      a:hover &,
      a:focus & {
        opacity: .825;
        background-color: $primary-color;
      }
    }

    a:hover &,
    a:focus & {
      /* background-color: inherit;*/
      background-color: $primary-color;
      /* background-image: inherit;*/
      /* @include thumb-background;*/
      color: $white;
    }

    & > * {
      position: relative;
      z-index: 1;
    }

    p {
      margin-bottom: 0;
    }

    h3 {
      font-size: 1.25rem;
    }

    h4 {
      font-family: $body-font-family;
      font-size: 1rem;
      font-style: italic;
      font-weight: normal;
    }
  }

  &__container {
    -webkit-transition: all .5s;
    transition: all .5s;

    a:hover & {
      -webkit-box-shadow: $standard-shadow;
              box-shadow: $standard-shadow;
      @include global-scale( 1.025 );
    }
  }

  &__thumb {
    @include thumb-background();
    @include responsive-shape( 100%, $video-thumbnail-aspect-ratio );

    &--web {
      @include responsive-shape( 100%, 40% );
    }
  }
} /* end .featured-project*/

.project-list {

  &__item {
    @include thumb-background();
    @include responsive-shape( 100%, $video-thumbnail-aspect-ratio, 1.5rem );
    @include gutter-margin(bottom);
    overflow: hidden;
    -webkit-transition: all .5s;
    transition: all .5s;
    border: 1px solid $light-gray;

    .development & {
      background-position: top center;
    }

    &--default {
      background-size: 200px;
      background-color: $white;
    }

    a:hover & {
      @include global-scale( 1.05 );
      /*-webkit-box-shadow: $standard-shadow;
              box-shadow: $standard-shadow;*/
    }

    &__content {
      width: 100%;
      height: 100%;
      -webkit-transition: all .5s;
      transition: all .5s;
      background: rgba( $black, .675 );
      background: -webkit-gradient( linear, left bottom, left top, from(rgba( $black, .675 )), to(rgba( $black, .25 )) );
      background: linear-gradient( to top, rgba( $black, .675 ), rgba( $black, .25 ) );
      padding: .5rem;
      @include breakpoint(medium) {
        top: 100%;
        padding: 1rem;
      }
      @include breakpoint(large) {
        padding: 1.5rem;
      }

      .medium-up-3 & {
        @include breakpoint(medium) {
          padding: .75rem;
        }
      }

      a & {
        color: $white;
      }

      a:hover & {
        top: 0;
      }

      &__inner {
        position: relative;
        width: 100%;
        height: 100%;
      }
    } // end __content

    &__title {
      font-size: 1rem;
      font-weight: 800;
      line-height: 1;
      margin-bottom: 0;
      position: absolute;
      bottom: 0;
      left: 0;

      .medium-up-3 & {
        @include breakpoint(medium) {
          font-size: .825rem;
        }
      }
    } // end __title

    &__play-icon {
      @include center-absolute();
      color: #fff;
      opacity: .75;
      font-size: 4.5rem;
      z-index: 1;
      // Variation for inline usage
      &.inline {
        position: relative;
        left: auto;
        top: auto;
        transform: none;
        transition: $global-transition;
        &:hover {
          opacity: 1;
        }
      }
    }
  } // end __item
} // end .project-list

/* Project Navigation*/

.project-nav {

  select {
    margin-bottom: 2rem;
  }

  &__industry,
  &__project-type {
    text-align: center;
  }

  &__button {
    padding: .5em 1em;
    border-radius: 50px;
    text-transform: uppercase;
    color: $medium-gray;
    font-weight: $global-weight-bold;
    font-family: $montserrat;
    -webkit-transition: all .5s;
    transition: all .5s;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: .75rem;
    @include breakpoint(medium) {
      font-size: .875rem;
    }

    &:hover,
    &:focus {
      border-color: transparent;
      background-color: transparent;
      color: $black;
    }

    &.is-checked {
      background-color: $primary-color;
      color: $white;
      border-color: $primary-color;

      &:focus {
        color: $white;
      }

      &:hover {
        color: $black;
        background-color: transparent;
      }
    }
  }
} /* end .project-nav*/

/* Logo grid*/

.logo-grid {
  padding: 3rem 0;
  @include breakpoint(medium) {
    padding: 6rem 0;
  }
  @include breakpoint(large) {
    padding: 8rem 0;
  }

  /* Column styles*/

  &__column {
    border-bottom: $logo-grid-border;
    border-right: $logo-grid-border;

    @include breakpoint(small only) {

      &:nth-child(2n) {
        border-right: 0;
      }

      &:nth-last-child(-n+2) {
        border-bottom: 0;
      }
    }

    @include breakpoint(medium only) {

      &:nth-child(3n) {
        border-right: 0;
      }

      &:nth-last-child(-n+3) {
        border-bottom: 0;
      }
    }

    @include breakpoint(large) {

      &:nth-child(4n) {
        border-right: 0;
      }

      &:nth-last-child(-n+4) {
        border-bottom: 0;
      }
    }
  }

  h2 {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-wide;
    margin-bottom: 2rem;
    @include title-underline(center);
  }

  /* Client logo*/

  &__item {
    position: relative;
    width: 100%;
    height: 120px;

    img {
      padding: 2em;
      max-height: 120px;
      width: auto;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      -webkit-transition: all .5s;
      transition: all .5s;
      opacity: .5;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate( -50%, -50% );
              transform: translate( -50%, -50% );

      &:hover {
        -webkit-filter: none;
                filter: none;
        opacity: 1;
      }
    }
  }

  .single-service & h2 {
    color: $medium-gray;
    letter-spacing: normal;
    text-transform: none;
    font-family: $opensans;
    font-weight: normal;
  }
} // end .logo-grid

/* Alternating blocks*/

.alternating-blocks {
  padding: $global-padding-extra 0;

  a {
    color: inherit;

    .button {
      position: relative;
      top: 200px;
      -webkit-transition: all ease-in .2s;
      transition: all ease-in .2s;
    }

    &:hover .button {
      top: 0;
    }
  }

  h2 {
    font-weight: $global-weight-bold;
  }

  &__thumb {
    background-color: $black;
    @include thumb-background();
    @include responsive-shape( 100%, $video-thumbnail-aspect-ratio );
  }

  &__content {
    padding: $global-padding-extra;
    background-color: $white;
    overflow: hidden;
  }

  &__row {
    border-left: 1px solid $light-gray;
    border-right: 1px solid $light-gray;

    &:first-child {
      border-top: 1px solid $light-gray;
    }

    &:last-child {
      border-bottom: 1px solid $light-gray;
    }
  }
} /* end .alternating-blocks*/

/* Media gallery block*/

.media-gallery {

  &__thumb {
    /* @include thumb-background();*/
    /* @include responsive-shape( 100%, $video-thumbnail-aspect-ratio );*/
    @include gutter-margin(bottom);
  }
}

/* Web browser slider*/

.web-browser-window {
  border: 1px solid $light-gray;
  border-radius: 3px;
  position: relative;

  &__container {
    overflow: hidden;
  }

  &__header {
    position: relative;
    background-color: rgba($light-gray, .5);
    height: 26px;

    &__buttons {
      position: relative;
    }

    &__button {
      height: 14px;
      width: 14px;
      background-color: rgba($light-gray, .5);
      position: absolute;
      display: inline-block;
      left: 6px;
      top: 6px;
      border-radius: 7px;

      &:nth-child(2) {
        left: 26px;
      }

      &:nth-child(3) {
        left: 46px;
      }

      &--red {
        background-color: $secondary-color;
      }

      &--yellow {
        background-color: $primary-color;
      }

      &--green {
        background-color: $success-color;
      }
    }
  }
} /* end .web-browser-window*/

/* Team */

.team-grid {
  margin: .25rem;

  &__item {

    &.column {
      // Fix Firefox rounding issue that pushes last grid item to empty row
      @include breakpoint(xlarge) {
        box-sizing: border-box;
        width: 16.6666%;
      }
    }
  }
}

.team-nav {
  margin-bottom: -.5rem;
  text-align: center;

  &__team-category {

    &__button {
      padding: .5em 1em;
      border-radius: 50px;
      text-transform: uppercase;
      color: $medium-gray;
      font-weight: $global-weight-bold;
      font-family: $montserrat;
      -webkit-transition: all .5s;
      transition: all .5s;
      border: 1px solid transparent;
      background-color: transparent;
      font-size: .75rem;
      @include breakpoint(medium) {
        font-size: .875rem;
      }

      &:hover,
      &:focus {
        border-color: transparent;
        background-color: transparent;
        color: $black;
      }

      &.is-checked {
        background-color: $primary-color;
        color: $white;
        border-color: $primary-color;

        &:focus {
          background-color: $primary-color;
          color: $white;
          border-color: $primary-color;
        }

        &:hover {
          background-color: transparent;
          border-color: $primary-color;
          color: $black;
        }
      }
    }
  }
} /* end .team-nav*/

.team {

  &__member {
    padding: .25rem;

    &__thumb {
      @include thumb-background();
      @include responsive-shape( 100%, 150% );
      overflow: hidden;
      -webkit-transition: $global-transition;
      transition: $global-transition;

      &::before {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        //background-color: $primary-color;
        opacity: 0;
        -webkit-transition: $global-transition;
        transition: $global-transition;
        content: '';
      }

      &__content {
        width: 100%;
        text-align: center;
        color: $white;
        position: absolute;
        bottom: 2rem;
        @include breakpoint(medium) {
          top: 110%;
        }
        -webkit-transition: $global-transition;
        transition: $global-transition;
        padding: 0 .5rem;
      }

      &:hover {
        background-color: rgba( $dark-black, .5 );
        background-blend-mode: overlay, screen, multiply;

        @include breakpoint(medium) {
          .team__member__thumb__content {
            top: 50%;
          }
        }

        &::before {
          opacity: .5;
        }
      }

      &__name {
        font-size: 1.125rem;
        @include breakpoint(medium) {
          font-size: 1.25rem;
        }
        @include breakpoint(large) {
          font-size: 1.5rem;
        }
        @include breakpoint(xxlarge) {
          font-size: 1.75rem;
        }
        font-family: $opensans;
        text-transform: uppercase;
        text-shadow: 0 0 8px $black;
        font-weight: 800;
        line-height: 1.25;
        margin: 0;
      }

      &__position {
        font-size: .825rem;
        @include breakpoint(medium) {
          font-size: 1rem;
        }
        @include breakpoint(xxlarge) {
          font-size: 1.125rem;
        }
        margin: 0;
        font-weight: 400;
        font-family: $opensans;
      }
    }
  }

  &__section-title {
    text-align: center;
    @include title-underline(center);
  }
} /* end .team*/

/* Locations*/

.locations-section {
  border-bottom: 1px solid lighten( $black, 5% );

  &__column {
    @include grid-layout-center-last(3);
  }
}

/* Icons*/

.icons {

  &__heading {
    text-align: center;
    font-weight: $global-weight-bold;
    margin-bottom: 1em;
  }

  &__icon {
    padding: $global-padding * 2;

    &__label {
      text-align: center;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: $global-weight-bold;
    }
  }
}

/* Team bio section*/

.team-bio-section {
  background-color: #3b3b3b;
  @include thumb-background();
  @include breakpoint(71em) {
    background-size: contain;
  }
  background-position: 20% center;
  @include breakpoint(medium) {
    background-position: center;
  }
  @include light-section-text();

  &__title {
    @include title-underline();
  }

  &__name {
    font-family: $opensans;
    font-size: 1.25rem;
  }

  &__background-image {
    height: 100%;
    width: 100%;
    @include thumb-background();
    @include breakpoint(71em) {
      background-size: contain;
    }
    background-position: 20% center;
    @include breakpoint(medium) {
      background-position: center;
    }
  }

  .slick-dots {
    bottom: .75rem;
  }

  &.slick-dotted.slick-slider {
    margin-bottom: 0;
  }
}

/* Video embed content blocks */

.video-embed {
  margin: 1rem 0;
}
