@font-face {
  font-family: 'icomoon';
  src: url( '../../assets/fonts/icomoon/icomoon.eot?gh77jk' );
  src: url( '../../assets/fonts/icomoon/icomoon.eot?gh77jk#iefix' ) format('embedded-opentype'),
       url( '../../assets/fonts/icomoon/icomoon.woff2?gh77jk' ) format('woff2'),
       url( '../../assets/fonts/icomoon/icomoon.ttf?gh77jk' ) format('truetype'),
       url( '../../assets/fonts/icomoon/icomoon.woff?gh77jk' ) format('woff'),
       url( '../../assets/fonts/icomoon/icomoon.svg?gh77jk#icomoon' ) format('svg');
  font-weight: normal;
  font-style: normal;
}
