.icon {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-family: 'icomoon';
  font-size: inherit;
  text-rendering: auto;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;

  &::before {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-family: 'icomoon';
    font-size: inherit;
  }

  &--play::before {
    content: "\e90b";
  }

  &--phone--mobile::before {
    content: "\e004";
  }

  &--chevron--left::before {
    content: "\e901";
  }

  &--chevron--right::before {
    content: "\e902";
  }

  &--search::before {
    content: "\e900";
  }

  &--service--animation::before {
    content: "\e903";
  }

  &--service--design::before {
    content: "\e904";
  }

  &--service--development::before {
    content: "\e905";
  }

  &--service--search::before {
    content: "\e906";
  }

  &--service--strategy::before {
    content: "\e908";
  }

  &--service--video::before {
    content: "\e907";
  }
}
