@import "fonts";
@import "font-awesome";
@import "icons";

/**
 * Headings
 */

h1,
h2,
h3,
h4 {
  font-weight: $global-weight-bold;
}

.heading-underline {
  @include title-underline();

  &--centered {
    @include title-underline(center);
  }
}

h4 {
  font-weight: $global-weight-bold;
}

.section-heading {

  &--stylized {
    font-weight: $global-weight-bold;
    color: $medium-gray;
    letter-spacing: $letter-spacing-narrow;
    line-height: 1.2em;
    margin-bottom: .5em;
    font-size: 2.5rem;
    @include breakpoint(xlarge only) {
      font-size: ms( 3, $thread: stylized );
    }
    @include breakpoint(large only) {
      font-size: ms( 2.75, $thread: stylized );
    }
    @include breakpoint(midlarge only) {
      font-size: ms( 2.625, $thread: stylized );
    }
    @include breakpoint(medium only) {
      font-size: ms( 2, $thread: stylized );
    }
    @include breakpoint(small only) {
      font-size: ms( 2.25, $thread: stylized );
    }

    strong {
      color: $black;
      font-size: modular-scale(1.125);
      font-size: 1.675em;
      display: block;
      // height: .875em;
      line-height: .9;
      @include breakpoint(xlarge only) {
        font-size: ms( 3, $thread: stylized );
      }
      @include breakpoint(large only) {
        font-size: ms( 2.75, $thread: stylized );
      }
      @include breakpoint(midlarge only) {
        font-size: ms( 2.625, $thread: stylized );
      }
      @include breakpoint(medium only) {
        font-size: ms( 2, $thread: stylized );
      }
      @include breakpoint(small only) {
        font-size: ms( 2.25, $thread: stylized );
      }
    }

    &:after {
      content: "";
      display: block;
      border-bottom: 2px solid $primary-color;
      width: 50px;
      margin-top: .5em;
    }

    &:last-child {
      @include breakpoint(medium) {
        margin-bottom: 0;
      }
    }

    &--larger {
      @include breakpoint(large) {
        // font-size: modular-scale(2.25);

        & strong {
          // font-size: modular-scale(2.25);
        }

        &:after {
          // margin-top: 4px;
        }
      }
    }
  }
}

/**
 * Body copy
 */

p {
  margin-bottom: 1em;
}

blockquote {
  padding-top: 0;
}

// Body copy helper classes
.text {

  &--larger {
    font-size: larger;
  }

  &--no-line-height {
    line-height: 1;
  }
}

button,
input,
optgroup,
select,
textarea {
  font-family: $opensans;
}

address {
  font-style: inherit;
  display: inherit;
}

address {

  @include headings() {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: initial;
    font-weight: inherit;
  }
}
